/* -- Fonts --*/
$font-family: "Poppins", sans-serif;

/* -- Text --*/
$color-text--white: #ffffff;
$color-text--black: #000000;
$color-nav--top: #006DDA;
$color-main--title: #F0AD3E;
$color-catalg--title: #012B43;

/* -- Backgrounds --*/
$bg--header: #D0DFEF;
$bg--button: #ffffff;

/* -- Buttons --*/
$color-btn: #0364ff;
$tabs-color: #e9edfe;

/* -- Buttons-hover --*/
$hover-btn: rgb(1, 45, 95);

/* -- Buttons-hover-text --*/
$bg-btn: #ffffff;

// /* -- Main shadow --*/
$header-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
$header-list: 0 6px 8px rgba(0, 0, 0, 0.05);

/* -- Borders --*/
$color-border:#0364ff;
// $play-border: #01499b;
$white-border: #ffffff;
// $calendar-border: #27aae1;
// $world-border: #f5483a;
